// ----------------------------------------------------------------------------------------------
// NOTE Browser style : Reset --------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

html, 
body { 
  height: 100%; 
  margin: 0;
  background-color: var(--bkg-1);
}

.g-padx { 
  padding-left: 10%;
  padding-right: 10%;
}

.g-font, mat-error, mat-hint {
  font-family: var(--font-family);
  letter-spacing: 0.05rem;
}
// NOTE Link

// NOTE Scrollbar

// NOTE Sortable table --------------------------------------------------------------------------

// NOTE Icons -----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap --------------------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// NOTE Pagination ------------------------------------------------------------------------------

// NOTE Button ----------------------------------------------------------------------------------

// NOTE Modal -----------------------------------------------------------------------------------

// NOTE Toast -----------------------------------------------------------------------------------

.toast-header {
  background-color: transparent;
}
.toast-body {
  background-color: rgba(255, 255, 255, 0.85);
}

// NOTE Nav -------------------------------------------------------------------------------------

// NOTE Table -----------------------------------------------------------------------------------

// NOTE Select ----------------------------------------------------------------------------------

// NOTE Form ------------------------------------------------------------------------------------

// Checkbox

// Radio

// NOTE Sortable table --------------------------------------------------------------------------
