// ----------------------------------------------------------------------------------------------
// NOTE Browser style : Reset --------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

html, 
body { 
  height: 100%; 
  margin: 0;
  font-family: var(--font-regular);
  background-color: var(--bkg-1);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.g-padx { 
  padding-left: 10%;
  padding-right: 10%;
}

.g-font, mat-error, mat-hint {
  font-family: var(--font-family);
  letter-spacing: 0.05rem;
}

.flex-center {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.only-mobile {
  display: block;

  @include screen-media-min(md) {
    display: none;
  } 
}

.only-desktop {
  display: none;

  @include screen-media-min(md) {
    display: block;
  } 
}

.only-desktop-flex {
  display: none;

  @include screen-media-min(md) {
    display: flex;
  } 
}

// NOTE Link

// NOTE Scrollbar

// NOTE Sortable table --------------------------------------------------------------------------

// NOTE Icons -----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap --------------------------------------------------------------------- Overwrite
// ----------------------------------------------------------------------------------------------

// NOTE Pagination ------------------------------------------------------------------------------

// NOTE Button ----------------------------------------------------------------------------------

// NOTE Modal -----------------------------------------------------------------------------------

// NOTE Toast -----------------------------------------------------------------------------------

.toast-header {
  background-color: transparent;
}
.toast-body {
  background-color: rgba(255, 255, 255, 0.85);
}

// NOTE Nav -------------------------------------------------------------------------------------

// NOTE Table -----------------------------------------------------------------------------------

// NOTE Select ----------------------------------------------------------------------------------

// NOTE Form ------------------------------------------------------------------------------------

// Checkbox

// Radio

// NOTE Sortable table --------------------------------------------------------------------------
