@font-face {
    font-family: 'HBL';
    src: url('../fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'HB';
    src: url('../fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'HM';
    src: url('../fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'HR';
    src: url('../fonts/HelveticaNeueRegular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'HL';
    src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'AB';
    src: url('../fonts/Archivo-Bold.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AS';
    src: url('../fonts/Archivo-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AM';
    src: url('../fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AR';
    src: url('../fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}