
.legend {
    font-family: var(--font-regular);

    .desc {
        font-size: 0.85rem;
        font-family: var(--font-medium);
        letter-spacing: 0.03rem;
    }

    .status-hld {
        display: flex;
        margin-left: 1rem;
        gap: 10px;

        // span {
        //     font-size: 0.75rem;
        //     letter-spacing: 0.03rem;
        //     padding: 0.3rem 0.7rem;
        //     color: var(--dark);
        // }
    }
}

.status-hld, .stages {

    span {
        font-size: 0.75rem;
        letter-spacing: 0.04rem;
        line-height: 1;
        padding: 0.4rem 0.7rem;
        border-radius: var(--radius-lg);
        color: var(--dark);
    }

    .started {
        background: rgba(66, 133, 244, 0.25);
    }

    .considered {
        background: rgba(235, 87, 87, 0.25);
    }

    .pending {
        background: rgba(229, 166, 71, 0.25);
    }

    .approved {
        background: rgba(54, 171, 104, 0.25);
    }
}

.job-wrap {
    font-family: var(--font-regular);

    .job-hld {
        display: flex;
        padding: 1.5rem 3%;
        align-items: center;
        border-radius: var(--radius-md);
        background-color: white;
        box-shadow: var(--card-shadow);

        &:nth-child(n+2) {
            margin-top: 1rem;
        }

        .active-status {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: var(--green-theme);
            display: inline-block;
            transform: scale(1);
            animation: live-pulse 1.5s infinite;
            box-shadow: 0 0 0 0 var(--green-theme);

            &.closed {
                background-color: var(--warning);
                box-shadow: unset;
                animation: unset;
            }
        }

        .title {
            width: 20%;
            font-size: 0.85rem;
            margin-left: 3%;
            
            .text {
                font-family: var(--font-medium);
                letter-spacing: 0.03rem;
            }

            .start {
                font-size: 0.75rem;
                letter-spacing: 0.04rem;
            }
        }

        .dept {
            width: 18%;
            margin-left: 0%;
        }

        .lead {
            width: 15%;
            margin-left: 5%;
        }

        .dept, .lead {
            line-height: 1.4;

            .hdr {
                font-size: 0.7rem;
                letter-spacing: 0.04rem;
            }
            
            .name {
                font-size: 0.8rem;
                letter-spacing: 0.03rem;
                font-family: var(--font-medium);
            }
        }

        .stages {
            width: 15%;
            display: flex;
            gap: 0.7rem;

            span {
                font-size: 0.75rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: var(--radius-sm);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--dark);
            }
        }

        .publish {
            span {
                font-size: 0.8rem;
                letter-spacing: 0.03rem;
                font-family: var(--font-regular);
            }
        }

        .actions {
            margin-left: auto;

            span {
                cursor: pointer;
            }

            .edit {
                color: var(--primary);
            }

            .delete {
                color: var(--warning);
            }

            .more {
                font-size: 1rem;
            }
        }
    }
}

@keyframes live-pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(54, 171, 104, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(54, 171, 104, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(54, 171, 104, 0);
    }
}