<div class="event-wrap">
    <div class="hdr">
        <div class="top">
            <div class="img-wrap">
                <img *ngIf="eventDetails.meta.type === 'meeting'" src="assets/img/project/illustrations/calendar.webp" alt="">
                <img *ngIf="eventDetails.meta.type === 'holiday'" src="assets/img/project/illustrations/flag.webp" alt="">
                <img *ngIf="eventDetails.meta.type === 'birthday'" src="assets/img/project/illustrations/gift.webp" alt="">
                <img *ngIf="eventDetails.meta.type === 'leave'" src="assets/img/project/illustrations/stopwatch.webp" alt="">
            </div>
            <div class="event-title">
                <span class="text-capitalize">{{eventDetails.meta.type}}</span>
                <span *ngIf="eventDetails.meta.type === 'leave'">{{eventDetails.meta.source.fullName}}</span>
                <span *ngIf="eventDetails.meta.type !== 'leave'">{{eventDetails.title}}</span>
            </div>
            <div *ngIf="eventDetails.meta.type === 'meeting'" class="event-link w-100">
                <span>
                    <a [href]="eventDetails.meta.source.meetLink" target="_blank">Join Meeting Here</a>
                </span>
            </div>
        </div>
        
        <div class="event-time justify-content-between">
            <div class="det"> <span>Date:</span> {{eventDetails.start | date: 'dd MMM, yyyy'}}</div>
            <div class="det"> <span>Time:</span> {{eventDetails.start | date: 'h:mm a'}}  -  {{eventDetails.end | date: 'h:mm a'}}</div>
        </div>
    </div>

    <div class="body"></div>
    <div class="footer"></div>
</div>