<div class="content-wrap">
    <div class="inner-wrap">
        <div class="row-section d-flex justify-content-between align-items-center">
            <div class="page-header">CRM Dashboard</div>
            <div class="main-actions d-flex justify-content-start align-items-center">
                <!-- <div *ngIf="employeeDetails" (click)="openEmployeeModal(employeeDetails)" class="cta cta-primary icon lg"><app-icon [iconName]="'userPen'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon> {{employeeDetails.isSuperAdmin ? 'Edit Employee' : 'Edit Information'}}</div> -->
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-4">
            <div class="row-card card-xsmd card-ysm card-theme-blue">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Total Leads</div>
                        <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 10%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'userStar'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon>
                        </div>
                        <div class="card-count ms-auto">70 <span>Leads</span></div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-yellow">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Total Contacts</div>
                        <span class="percent-diff decrease"><i class="bi bi-arrow-down-right"></i> 5%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'bookUser'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon>
                        </div>
                        <div class="card-count ms-auto">30 <span>Contacts</span></div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-green">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Deals Closed</div>
                        <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 3%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'layers'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon>
                        </div>
                        <div class="card-count ms-auto">$ 40,000</div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-red">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Open Tickets</div>
                        <!-- <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 6%</span> -->
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'circleQuestionMark'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon>
                        </div>
                        <div class="card-count ms-auto">10 <span>Tickets</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xmlg card-ylg">
                <div class="row-card"></div>
            </div>
            <div class="row-card card-xmd card-ylg">
                <div class="row-card"></div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xmd card-ylg">
                <div class="row-card"></div>
            </div>
            <div class="row-card card-xmlg card-ylg">
                <div class="row-card"></div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xsm card-ylg">
                <div class="row-card"></div>
            </div>
            <div class="row-card card-xmd card-ylg">
                <div class="row-card"></div>
            </div>
            <div class="row-card card-xmd card-ylg">
                <div class="row-card"></div>
            </div>
        </div>
    </div>
</div>