<div class="content-wrap">
    <div class="inner-wrap">
        <div class="row-section d-flex justify-content-between align-items-center">
            <div class="page-header">CRM Dashboard</div>
            <div class="main-actions d-flex justify-content-start align-items-center">
                <!-- <div *ngIf="employeeDetails" (click)="openEmployeeModal(employeeDetails)" class="cta cta-primary icon lg"><app-icon [iconName]="'userPen'" [iconStrokeWidth]="2" [iconWidth]="25" [iconHeight]="25"></app-icon> {{employeeDetails.isSuperAdmin ? 'Edit Employee' : 'Edit Information'}}</div> -->
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-4">
            <div class="row-card card-xsmd card-ysm card-theme-blue">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Total Leads</div>
                        <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 10%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'userStar'" [iconStrokeWidth]="2" [iconWidth]="22" [iconHeight]="22"></app-icon>
                        </div>
                        <div class="card-count ms-auto">70 <span>Leads</span></div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-yellow">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Total Contacts</div>
                        <span class="percent-diff decrease"><i class="bi bi-arrow-down-right"></i> 5%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'bookUser'" [iconStrokeWidth]="2" [iconWidth]="22" [iconHeight]="22"></app-icon>
                        </div>
                        <div class="card-count ms-auto">30 <span>Contacts</span></div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-green">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Deals Closed</div>
                        <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 3%</span>
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'layers'" [iconStrokeWidth]="2" [iconWidth]="22" [iconHeight]="22"></app-icon>
                        </div>
                        <div class="card-count ms-auto">$ 40,000</div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsmd card-ysm card-theme-red">
                <div class="card-cont d-flex flex-column">
                    <div class="top d-flex align-items-end">
                        <div class="card-title">Open Tickets</div>
                        <!-- <span class="percent-diff increase"><i class="bi bi-arrow-up-right"></i> 6%</span> -->
                    </div>
                    <div class="btm d-flex justify-content-between align-items-end mt-auto">
                        <div class="card-icon">
                            <app-icon [iconName]="'circleQuestionMark'" [iconStrokeWidth]="2" [iconWidth]="24" [iconHeight]="24"></app-icon>
                        </div>
                        <div class="card-count ms-auto">10 <span>Tickets</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xmlg">
                <div class="card-cont d-flex flex-column position-relative">
                    <div class="top d-flex justify-content-between align-items-start">
                        <div class="hdr">
                            <div class="card-title color-theme-primary">Monthly Sales Revenue</div>
                            <div class="preamble mt-1">Sales revenue throughout the year</div>
                        </div>

                        <div class="actions">
                            <mat-form-field class="field compact-field" appearance="outline" [style.width]="'10rem'">
                                <mat-label>Select Year</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="compact-dropdown"
                                    [(ngModel)]="chartYear"
                                    style="font-size: 0.7rem;"
                                >
                                    <mat-option *ngFor="let option of chartYearOptions | keyvalue: keepOrder" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="btm mt-auto">
                        <app-area-chart></app-area-chart>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd">
                <div class="row-card">
                    <div class="card-cont">
                        <div class="top">
                            <div class="hdr">
                                <div class="card-title color-theme-primary">Invoice By Status</div>
                                <div class="preamble mt-1">Analysis by payment status</div>
                                <ul class="chart-legend d-flex mt-1">
                                    <li *ngFor="let item of invoiceAnalysisData; let i = index"> 
                                        <span class="code" [style.background]="invoiceAnalysisColorScheme['domain'][i]"></span>{{item.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btm d-flex flex-column align-items-center justify-content-center">
                            <app-pie-chart
                                [chartSize]="[260, 260]"
                                [chartData]="invoiceAnalysisData"
                                [colorScheme]="invoiceAnalysisColorScheme"
                                [doughnut]="false"
                            ></app-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xmd">
                <div class="card-cont">
                    <div class="top">
                        <div class="hdr">
                            <div class="card-title color-theme-primary">Leads By Status</div>
                            <div class="preamble mt-1">Analysis by leads status</div>
                            <ul class="chart-legend d-flex mt-1">
                                <li *ngFor="let item of leadsAnalysisData; let i = index"> 
                                    <span class="code" [style.background]="leadsAnalysisColorScheme['domain'][i]"></span>{{item.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btm d-flex flex-column align-items-center justify-content-center">
                        <app-pie-chart
                            [chartSize]="[260, 260]"
                            [chartData]="leadsAnalysisData"
                            [colorScheme]="leadsAnalysisColorScheme"
                            [doughnut]="true"
                        ></app-pie-chart>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmlg">
                <div class="row-card">
                    <div class="card-cont d-flex flex-column position-relative">
                        <div class="top d-flex justify-content-between align-items-start">
                            <div class="hdr">
                                <div class="card-title color-theme-primary">Contacts Vs. Leads</div>
                                <div class="preamble mt-1">Trend of contacts and leads across months of the year.</div>
                            </div>

                            <div class="actions">
                                <mat-form-field class="field compact-field" appearance="outline" [style.width]="'10rem'">
                                    <mat-label>Select Year</mat-label>
                                    <mat-select
                                        class="selectField"
                                        disableOptionCentering
                                        panelClass="compact-dropdown"
                                        [(ngModel)]="chartYear"
                                        style="font-size: 0.7rem;"
                                    >
                                        <mat-option *ngFor="let option of chartYearOptions | keyvalue: keepOrder" [value]="option.key">{{option.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="btm mt-auto">
                            <app-bar-chart
                                [chartSize]="[620, 300]"
                                [chartData]="contactsLeadsAnalysisData"
                            >
                            </app-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-section d-flex justify-content-between mt-3">
            <div class="row-card card-xsm card-ylg">
                <div class="row-card">
                    <div class="card-cont">
                        <div class="top">
                            <div class="hdr">
                                <div class="card-title color-theme-primary">Top Leads</div>
                                <div class="preamble mt-1">Leads according to expected revenue.</div>
                            </div>
                        </div>
                        <div class="btm">
                            <div class="listed-items mt-lg-3">
                                <div class="item">
                                    <div class="content">
                                        <div class="det d-flex align-items-end gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('assets/img/project/home/employee1.webp');"></div>
                                            <div class="info">
                                                <div class="major bd">Leonel Grimbsy</div>
                                                <div class="minor">Valued at £ 34,500</div>
                                            </div>
                                        </div>
                                        <div class="det right">
                                            <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(5)"><i class="bi bi-star-fill"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="det d-flex align-items-end gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('assets/img/project/home/employee2.webp');"></div>
                                            <div class="info">
                                                <div class="major bd">Sarah Yale</div>
                                                <div class="minor">Valued at £ 24,300</div>
                                            </div>
                                        </div>
                                        <div class="det right">
                                            <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(4)"><i class="bi bi-star-fill"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="det d-flex align-items-end gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('assets/img/project/home/employee3.webp');"></div>
                                            <div class="info">
                                                <div class="major bd">Grennady Justin</div>
                                                <div class="minor">Valued at £ 12,200</div>
                                            </div>
                                        </div>
                                        <div class="det right">
                                            <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(4)"><i class="bi bi-star-fill"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="det d-flex align-items-end gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('assets/img/project/home/employee4.webp');"></div>
                                            <div class="info">
                                                <div class="major bd">Tyler Rickon</div>
                                                <div class="minor">Valued at £ 10,200</div>
                                            </div>
                                        </div>
                                        <div class="det right">
                                            <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(3)"><i class="bi bi-star-fill"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="det d-flex align-items-end gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('assets/img/project/home/employee5.webp');"></div>
                                            <div class="info">
                                                <div class="major bd">Marcus Bent</div>
                                                <div class="minor">Valued at £ 9,400</div>
                                            </div>
                                        </div>
                                        <div class="det right">
                                            <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(3)"><i class="bi bi-star-fill"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd card-ylg">
                <div class="row-card">
                    <div class="card-cont">
                        <div class="top">
                            <div class="hdr">
                                <div class="card-title color-theme-primary">Tickets By Progress</div>
                                <div class="preamble mt-1">Analysis by ticket statuses</div>
                                <ul class="chart-legend d-flex mt-1">
                                    <li *ngFor="let item of ticketAnalysisData; let i = index"> 
                                        <span class="code" [style.background]="ticketAnalysisColorScheme['domain'][i]"></span>{{item.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btm d-flex flex-column align-items-center justify-content-center">
                            <app-pie-chart
                                [chartSize]="[240, 240]"
                                [chartData]="ticketAnalysisData"
                                [colorScheme]="ticketAnalysisColorScheme"
                                [doughnut]="false"
                            ></app-pie-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd card-ylg">
                <div class="card-cont">
                    <div class="top">
                        <div class="hdr">
                            <div class="card-title color-theme-primary">Upcoming Activities</div>
                            <div class="preamble">Activities scheduled for leads and contacts</div>
                        </div>
                    </div>
                    <div class="btm">
                        <app-no-data 
                            [height]="'15rem'"
                            [message]="'No upcoming activities exist'" 
                            [imageUrl]="'assets/img/project/illustrations/calendar.webp'" 
                            [messageFontSize]="'1rem'"
                        ></app-no-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>