.settings-card {
    width: 100%;
    font-family: var(--font-regular);
    background: white;
    padding: 1.5rem 1.8rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--primary-light);
    box-shadow: var(--box-shadow-1);

    .top {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
        //margin-bottom: 1.5rem;
        justify-content: space-between;
        //border-bottom: 1px solid var(--border-2);

        .name {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            .img-wrap {
                img {
                    width: auto;
                    height: 4rem;
                }
            }

            .det {
                font-size: 0.85rem;
                letter-spacing: 0.03rem;
                color: var(--black-tint);

                .title {
                    font-size: 1.4rem;
                    letter-spacing: 0.04rem;
                    font-family: var(--font-medium);
                    margin-top: 0.4rem;
                    color: var(--primary);
                }
            }
        }

        .auto-renew {
            display: flex;
            font-size: 0.85rem;
            letter-spacing: 0.04rem;
            gap: 0.5rem;
            color: black;
        }
    }

    .btm {
        display: flex;
        padding: 1.5rem 2rem;
        align-items: center;
        border: 1px solid var(--black-tint-sm);
        border-radius: var(--radius-md);
        background: var(--bkg-1);
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            .label {
                font-size: 0.85rem;
                letter-spacing: 0.04rem;
                display: flex;
                gap: 0.8rem;
                color: var(--text-dark-2);
            }

            .value {
                font-size: 1rem;
                letter-spacing: 0.06rem;
                font-family: var(--font-medium);
            }
        }
    }

    .selector-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            width: 30%;
        }

        .input-wrap {
            margin-left: 2rem;
        }
        .det {

            .label {
                font-size: 0.8rem;
                letter-spacing: 0.03rem;
                font-family: var(--font-regular);
                color: var(--black-tint);
            }

            .selected {
                width: fit-content;
                border-radius: var(--radius-md);
                box-shadow: var(--box-shadow-1);
                //background: var(--primary-lightest);
                border: 1px solid var(--primary-light);
                padding: 0.3rem 0.7rem;
                span {
                    color: var(--primary);
                }
            }
        }

        .img-wrap {
            img {
                width: auto;
                height: 4rem;
            }
        }

        .slider-wrap {
            width: 55%;
        }
    }
}

.form-trigger-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12rem;
        border: 1px solid var(--primary-light);
        position: relative;

        .perk {
            font-size: 0.9rem;
            color: var(--primary);
            font-family: var(--font-medium);
            white-space: nowrap;
            position: absolute;
            transform: translateY(-50%);
            left: 105%;
            top: 50%;
        }

        .bkg-switch {
            width: 49%;
            height: 90%;
            position: absolute;
            transition: all 0.4s ease;
            background-color: var(--primary);
            transform: translateY(-50%);
            border-radius: 8rem;
            left: 0.8%;
            top: 50%;
            z-index: 1;

            &.shiftRight {
                left: 50.2%;
            }
        }

        .trigger {
            width: 50%;
            font-size: 0.9rem;
            // font-weight: 600;
            font-family: var(--font-medium);
            transition: all 0.4s ease;
            letter-spacing: 0.04rem;
            text-align: center;
            padding: 0.35rem 0;
            cursor: pointer;
            color: var(--dark);
            z-index: 2;

            &.active {
                color: white;
                //background-color: rgba($secondary, 0.5);
            }
        }
    }
}

.subscriptions-wrap {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    //gap: 1.5rem 0;

    .subscription {
        width: 32%;
        //padding: 1rem;
        background: white;
        transition:  all 0.4s ease;
        border-radius: var(--radius-md);
        border: 1px solid var(--primary-light);
        overflow: hidden;

        &:nth-child(1) {
            border-right: 0px;
            border-radius: var(--radius-lg) 0 0 var(--radius-lg);
        }

        &:nth-child(2) {
            border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
        }

        &:last-child {
            border: 3px solid var(--primary);
            border-radius: var(--radius-lg);
            margin-left: auto;

            .name {
                font-size: 1.5rem;
                letter-spacing: 0.07rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                height: 7.6rem;
                gap: 0.4rem;
            }
        }

        &.active {
            border: 2px solid var(--primary);
            background: var(--primary);

            .name, .price, .features ul li {
                color: white;

                span {
                    color: white;
                }

                .stat {
                    color: var(--text-dark);
                }
            }
        }

        .name {
            font-size: 0.85rem;
            letter-spacing: 0.1rem;
            background: var(--bkg-1);
            padding: 1rem;
            border-bottom: 1px solid var(--primary-light);
            font-family: var(--font-medium);
            color: var(--text-dark-1);
            text-transform: uppercase;
            text-align: center;

            .stat {
                font-size: 0.7rem;
                font-family: var(--font-regular);
                line-height: 1;
                margin-left: 0.4rem;
                padding: 0.2rem 0.7rem;
                border-radius: var(--radius-lg);
                letter-spacing: 0.03rem;
                background: var(--bkg-1);
                border: 1px solid var(--primary-light);
                color: var(--primary);
            }
        }

        .price {
            font-size: 1rem;
            font-family: var(--font-medium);
            background: var(--bkg-1);
            padding: 1.2rem;
            text-align: center;

            .amount {
                font-size: 1.6rem;
                font-family: var(--font-medium);
                letter-spacing: 0.06rem;
                color: black;
            }

            span {
                font-size: 0.8rem;
                font-family: var(--font-regular);
                color: var(--black-tint);
            }
        }

        .preview {
            font-size: 0.8rem;
            letter-spacing: 0.04rem;
            font-family: var(--font-regular);
            text-align: center;
            padding: 1rem;
        }

        .features {
            padding: 1rem;

            ul {
                li {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    font-size: 0.8rem;
                    letter-spacing: 0.04rem;
                    font-family: var(--font-regular);
                    text-transform: capitalize;
                    color: var(--black-tint);
                    position: relative;
                    list-style: none;
                    gap: 0.3rem;

                    &:first-child {
                        font-size: 0.85rem;
                        font-family: var(--font-medium);
                        margin-bottom: 0.2rem;
                        letter-spacing: 0.03rem;
                        color: black;
                    }

                    .icon {
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

.subscribe {
    width: 100%;
    padding: 1rem 1.2rem;
    //box-shadow: var(--box-shadow-1);
    border: 1px solid var(--black-tint-sm);
    border-radius: var(--radius-md);
    background: var(--bkg-1);
    
    .action-info {

        .info {
            font-size: 0.85rem;
            font-family: var(--font-regular);
            letter-spacing: 0.04rem;
            color: var(--black-tint);

            .plan {
                font-family: var(--font-medium);
                color: var(--primary);
            }

            .diff {
                color: black;
                font-family: var(--font-medium);
            }
        }
    }
    
    .action {
        .price {
            font-size: 1.1rem;
            font-family: var(--font-medium);
            margin-top: 0.4rem;

            span {
                font-size: 0.8rem;
                font-family: var(--font-regular);
                color: var(--black-tint);
            }
        }
    }
}